<div class="fatura">
    <table class="table">
        <thead>
            <th> <i class="fa fa-cart-plus"></i> Produto</th>
            <th> <i class="fa fa-qrcode"></i> Quantidade</th>
            <th> <i class="fa fa-dollar-sign"></i> Preço unitario</th>
            <th> <i class="fa fa-money-bill"></i> Preço a pagar</th>
        </thead>
    </table>
    ob_list_handlers<br>
    ob_list_handlers<br>
    ob_list_handlers<br>
</div>
<div class=" fechar-fatura fixed-bottom ">
    <button class="btn btn-dark">Faturar</button>
    <button class="btn btn-danger">Cancelar</button>
    <button class="btn btn-primary">Admin</button>
</div>